{% extends "travelapp/base_2.html" %}

{% block title %}Join Today{% endblock %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="../../static/images/bg1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Globetrotters</h2>
      <h4 class="grey-text text-darken-3 lighten-3">Your Journey Starts Here.</h4>

      <form class="col l12" method="post" action="{% url 'register' %}">
        <div class="row">
          {{ form.non_field_errors }}
          <div class="input-field col l5 offset-l3">
            <div class="fieldWrapper">
              {{ form.username.errors }}
              <label for="{{ form.username.id_for_label }}">username</label>
              {{ form.username }}
            </div>
          </div>
          <div class="input-field col l5 offset-l3">
            <div class="fieldWrapper">
              {{ form.email.errors }}
              <label for="{{ form.email.id_for_label }}">email</label>
              {{ form.email }}
            </div>
          </div>
          <div class="input-field col l5 offset-l3">
            <div class="fieldWrapper">
              {{ form.password1.errors }}
              <label for="{{ form.password1.id_for_label }}">password</label>
              {{ form.password1 }}
            </div>
          </div>

          <div class="input-field col l5 offset-l3">
            <div class="fieldWrapper">
              {{ form.password2.errors }}
              <label for="{{ form.password2.id_for_label }}">confirm password</label>
              {{ form.password2 }}
            </div>
          </div>
          <!-- button -->
          <div class="input-field col l5 offset-l6">
            <button class="btn waves-effect waves-light green darken-4" type="submit" name="action">Register</button>
          </div>
        </div>
        <!-- next field may not be used -->
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
      </form>     
      <div class="col l5 offset-l3">
        <a href="{% url 'login' %}">already have an account? Login!</a>   
      </div>	
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../../static/images/3.jpg"></div>
  </div>

{% endblock %}